.mt30 {
	margin-top: 30px;
}

.contact_spouse_photo {
	/*max-height: 125px;*/
	/*max-height: 250px !important;*/
	max-height: 130px;
    min-height: 130px;
    max-width: 63%;
}

.selectheight {
	height: 60px !important;
}

.logo_mid { 
	position: absolute;
	left: calc(52% - 100px);
}

.form-group .control-label {
	text-align: left;
}

.eventViewHeader {
	border: none;
    padding-top: 20px;
}

.booking_date{
    margin-left: -20px;
}
/*.eventViewHeaderRight {
	padding : 10px 0px ;
.ulli_form ul li{float: left; width: 48%;margin-bottom: 20px;list-style: none;}
.ulli_form ul li:nth-child(odd){float: left;}
.ulli_form ul li:nth-child(even){float: right;}*/



.text_bold1{
	font-weight: 600 !important;
}

.text_padding1 {
	padding: 7.75px !important;
}

.keyword {
    margin-left: 20px;
    width: 702px;
}

input#tags_1 {
    width: 710px;
}

@media screen and (max-width: 500px){
.ulli_form ul li{width: 100%;}
}

.text_bold1{
	font-weight: 600 !important;
}

.text_padding1 {
	padding: 8px !important;
}

.site_title > .img-responsive {
    vertical-align: middle;
    height: 80%;
    MARGIN-TOP: 2% !important;
    max-width: 100%;
    margin: 0 auto;
}

.my-photo-box {
    max-height: 130px;
    min-height: 130px;
    max-width: 63%;
    text-align: center;
}

.my-photo-box-view {
    /*max-height: 130px;
    min-height: 130px;
    max-width: 63%;*/
    text-align: center;
    overflow: hidden;
}

label.module {
    width: 125px;
    text-align: right;
}

.permission {
    width: 100px;
    display: inline-flex;
}
.top_nav .nav .open>a, .top_nav .nav .open>a:hover, .top_nav .nav>li>a:hover{
    background-color: #3f4f62 !important;
}
.imagereport{
    width: 100px;
    height: 100px;
}
a.tile-white-color{
    color: #FFFFFF;
}
.sizeofont{
    font-size: 20px;
}