.profile img{

	border-radius: 100%;

}
.marginleft15{
	margin-left: 15px;
	margin-top:15px;
}
.text-center{

    text-align:center;

}

.w-build-fav .content .title{

	margin-bottom: 10px;

}

.headroom--not-top{

	padding: 0 !important;

	background-color:transparent !important;

	box-shadow: none !important;

}

.header--standard-landing.headroom--not-top .logo .logo-title{

	color:#fff;

}

.header--standard-landing.headroom--not-top .logo, .header--standard-landing.headroom--not-top .logo .logo-title{

	color:#fff;

}

select.form-control:not([size]):not([multiple]){

	height: calc(3.25rem + 2px) !important;

}


.subject-info-box-1,
.subject-info-box-2 {
    float: left;
    width:40%;
}
.subject-info-box-1 select,
.subject-info-box-2  select {
    height: 200px;
    padding: 0;
    overflow: auto;
    /*    width:336px;*/
    width:100%;
}

.subject-info-box-1 select option,
.subject-info-box-2  select option {
    padding: 4px 10px 4px 10px;
}


.subject-info-box-2  select option:hover {
    background: #EEEEEE;
}

.subject-info-arrows {
    float: left;
    width: 10%;
}

.subject-info-arrows input {
    width: 70%;
    margin-bottom: 5px;
    margin-left: 10px;
}


div#fieldChooser {
    width: 740px;
    height: 300px;
}

.fc-field {
    width: 320px;
    height: 18px;
    margin: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 1.0);
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    width: 350px;
    height: 300px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}

.fc-source-fields {
    float: left;
}

.fc-destination-fields {
    float: right;
}
.center{
    text-align: center;
}
.dragabble{
	display: inline-flex;
	width: 100%;
}
.drg-button{
	padding: 10px !important;
}
.error{
	color: red;
}